.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #121217;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.fade {
  opacity: 1;
}

.owl-dots .owl-dot.active span {
  background: #681f3a !important;
  width: 36px !important;
  height: 13px !important;
}

.owl-dots .owl-dot span {
  background: #efd8d0 !important;
  width: 13px !important;
  height: 13px !important;
  transition: all ease 0.3s !important;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background: transparent;
}

.header.active {
  box-shadow: 0px 0px 11px 0px #cbcbcb;
}

@media (max-width: 1199px) {
  .header {
    position: fixed;
    background: #f7f7f7;
    z-index: 999;
  }
}

.header .logo {
  padding: 5px 0px;
}

@media (max-width: 1199px) {
  .header .logo {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header .logo .burger {
  display: none;
}

@media (max-width: 1199px) {
  .header .logo .burger {
    display: block;
    width: 45px;
  }
}

.header .top-menu {
  display: none;
}

.header .top-menu.active {
  display: block;
}

.header .top-menu ul {
  list-style: none;
  margin: 0;
  padding: 25px 15px;
}

.header .top-menu ul li {
  margin-bottom: 12px;
}

.header .top-menu ul a {
  text-decoration: none;
  color: #681f3a;
}

.btn {
  display: block;
  justify-content: center;
  padding: 19px 36px;
  transition: all ease 0.3s;
  border-radius: 100px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

@media (max-width: 767px) {
  .btn {
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
  }
}

.btn--left {
  margin-right: 25px;
}

@media (max-width: 767px) {
  .btn--left {
    margin-right: 0;
  }
}

.btn--primary {
  background: #681f3a;
  color: #fff;
}

.btn--primary:hover {
  background: #852a4c;
  color: #fff;
}

.btn--secondary {
  background: transparent;
  border: 2px solid #ecb6af;
  color: #121217;
}

.btn--secondary:hover {
  background: #fcf1ed;
}

.primary-btn:hover {
  background: #852a4c;
}

.banner {
  background: url(../images/bg.jpg);
  background-size: cover;
  padding: 190px 0px 140px 0px;
}

@media (max-width: 767px) {
  .banner {
    padding: 130px 0px 80px 0px;
  }
}

.banner__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
  grid-gap: 60px;
}

@media (max-width: 1200px) {
  .banner__grid {
    grid-template-columns: 1fr;
  }
}

.banner__subheader {
  color: #a86d72;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 127%;
  margin-bottom: 14px;
}

.banner__header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  color: #121217;
}

.banner__text {
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 55px;
}

.banner__buttons-title {
  color: #a86d72;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.banner__buttons-wrapper {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  .banner__buttons-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.banner__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.banner__video:hover .playpause {
  display: flex !important;
}

@media (max-width: 1199px) {
  .banner__video:hover .playpause {
    display: none !important;
  }
}

.banner__video video {
  width: 100%;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .banner__video video {
    width: 100%;
  }
}

.banner__video .playpause {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: -20px;
  bottom: 0%;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #681f3a;
  box-shadow: 0px 0px 5px 1px #681f3a;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .banner__video .playpause {
    display: none !important;
  }
}

.banner__video .playpause .pause {
  display: none;
}

.banner__video .playpause.disabled {
  display: none;
}

.banner__video .playpause.disabled .play {
  display: none;
}

.banner__video .playpause.disabled .pause {
  width: 12px;
  display: block;
}

.banner .video-title {
  margin-top: 20px;
  color: #a86d72;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.causes h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .causes h2 {
    margin-bottom: 30px;
  }
}

.causes__grid {
  display: grid;
  grid-template-columns: 300px 9fr;
  grid-gap: 20px;
}

@media (max-width: 1200px) {
  .causes__grid {
    grid-template-columns: 1fr;
  }
}

.causes__content {
  padding: 100px 15px;
}

@media (max-width: 1199px) {
  .causes__content {
    padding: 80px 15px 15px 15px;
  }
}

@media (max-width: 767px) {
  .causes__content h2 {
    margin: 0;
  }
}

.causes__layout {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 315px);
}

@media (max-width: 1200px) {
  .causes__layout {
    display: none;
  }
}

.causes .layout__item {
  background: #f8f8f8;
  border-radius: 15px;
}

.causes .item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.causes .item--last {
  align-items: flex-start;
}

.causes .item--last p {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}

.causes .item__image {
  max-height: 160px;
}

.causes .item__content {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

@media (max-width: 767px) {
  .causes .item__content {
    font-size: 16px;
  }
}

.causes .layout__item:nth-child(8) {
  grid-column: 2 / 4;
  background: url("../images/grid-back.jpg");
  background-size: cover;
}

.menu {
  position: fixed;
  left: 15%;
  top: 20%;
  z-index: 999;
}

@media (max-width: 2500px) {
  .menu {
    left: 8%;
  }
}

@media (max-width: 1919px) {
  .menu {
    left: 50px;
  }
}

@media (max-width: 1650px) {
  .menu {
    display: none;
  }
}

.menu ul {
  position: sticky;
  top: 30vh;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1650px) {
  .menu ul {
    padding: 0;
  }
}

.menu li {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
  font-weight: 600;
}

.menu li a {
  text-decoration: none;
  color: #121217;
}

.menu li:last-child {
  margin-bottom: 0px;
}

.menu li .marker {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 2px solid #ecb6af;
  border-radius: 50%;
  position: relative;
}

.menu li.active .marker::after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: url("../images/Ellipse2.png") no-repeat;
}

.menu li.active .menu-item {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.info {
  padding: 100px 0px;
  background: #d5d5d52e;
  position: relative;
}

.info .info__item {
  position: relative;
}

.info h2 {
  margin-bottom: 80px;
  color: #121217;
  font-size: 32px;
  line-height: 48px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 767px) {
  .info h2 {
    margin-bottom: 45px;
  }
}

.info .info__image {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .info .info__image {
    margin-bottom: 15px;
  }
}

.info .info__title {
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
  .info .info__title {
    margin-bottom: 35px;
  }
}

.info .info__title span {
  display: block;
  font-weight: 400;
}

.info .background-vektor {
  z-index: -1;
  position: absolute;
}

@media (max-width: 767px) {
  .info .background-vektor {
    display: none;
  }
}

.info .background-vektor-1 {
  left: 0;
}

.info .background-vektor-2 {
  left: 30%;
  top: -40px;
  transform: scale(-1, 1) rotate(180deg);
}

.info .info__inner {
  overflow: hidden;
  position: relative;
  margin-top: 60px;
  padding: 0px 41px;
  background: #f7dfd14d;
  height: 240px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .info .info__inner {
    height: 500px;
  }
}

.info .info__inner .elem {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 767px) {
  .info .info__inner .elem {
    top: unset;
    bottom: 0px;
    transform: scale(-1, 1) rotate(180deg);
    right: -150px;
  }
}

.info .info__inner .zoom {
  position: absolute;
  right: 170px;
  top: 80px;
}

@media (max-width: 991px) {
  .info .info__inner .zoom {
    position: unset;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .info .info__inner .zoom {
    position: absolute;
    top: unset;
    right: 150px;
    bottom: 130px;
  }
}

.info .info__inner .getcourse {
  position: absolute;
  right: 34px;
  bottom: 80px;
}

@media (max-width: 991px) {
  .info .info__inner .getcourse {
    position: unset;
  }
}

@media (max-width: 767px) {
  .info .info__inner .getcourse {
    position: absolute;
    bottom: 80px;
    right: 14px;
  }
}

.info .info__inner .info__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-style: italic;
}

@media (max-width: 767px) {
  .info .info__inner .info__subtitle {
    margin-top: -120px;
  }
}

.info .info__inner .info__content {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

@media (max-width: 991px) {
  .info .info__inner .info__content {
    margin-bottom: 20px;
  }
}

.info .info__inner .info__content span {
  font-weight: 900;
}

.features {
  padding: 100px 0px;
  background: #fff;
}

.features h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 60px;
}

.features h2.small-padding {
  margin-bottom: 50px;
}

.features .left-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features .left-list li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .features .left-list li {
    overflow: hidden;
    position: relative;
  }
}

.features .left-list li div {
  display: flex;
}

@media (max-width: 991px) {
  .features .left-list li div {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .features .left-list li img {
    position: absolute;
    width: 216px;
    right: -84px;
    top: 22px;
    z-index: -1;
    transform: rotate(177deg);
  }
}

.features .left-list li .num-marker {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 25px;
  color: #681f3a;
}

.features .left-list__title {
  font-style: italic;
  font-weight: 600;
  font-size: 21px;
  line-height: 34px;
}

@media (max-width: 991px) {
  .features .left-list__title {
    width: 80%;
    margin-bottom: 20px;
  }
}

.features .right-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features .right-list li {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.buy-course {
  background: #f8f8f8;
  padding: 100px 0px;
  position: relative;
}

.buy-course .btn {
  margin: 0 !important;
}

.buy-course h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 60px;
}

.buy-course__wrapper {
  position: relative;
  background: #fcf1ed;
  padding: 42px 25px;
  height: 900px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1199px) {
  .buy-course__wrapper {
    height: 700px;
  }
}

@media (max-width: 991px) {
  .buy-course__wrapper {
    height: unset;
  }
}

.buy-course__wrapper h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.buy-course__wrapper .marker-elem {
  position: absolute;
  right: 15px;
  top: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #edd9d9;
}

.buy-course__wrapper ul {
  list-style: none;
}

.buy-course__wrapper ul li {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.buy-course__wrapper ul li .disc-marker {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: -24px;
  top: 7px;
  background: linear-gradient(45deg, #fccce1 0%, #ce6b97 100%);
}

@media (max-width: 767px) {
  .buy-course__wrapper .bottom-block {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.buy-course__wrapper .bottom-block .price {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.buy-course__wrapper .bottom-block .price .old {
  text-decoration: line-through;
  color: #681f3a;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
}

.buy-course__wrapper .bottom-block .price .actual {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #0b132a;
}

@media (max-width: 767px) {
  .buy-course__wrapper .bottom-block .price .actual {
    font-size: 24px;
  }
}

.author {
  background: #fff;
  padding: 100px 0px;
}

.author h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 60px;
}

.author .author__content {
  background: #681f3a;
  border-radius: 20px;
  padding: 60px 40px 5px 40px;
  position: relative;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .author .author__content {
    padding: 60px 25px 400px 25px;
  }
}

.author .author-list {
  width: 70%;
}

@media (max-width: 767px) {
  .author .author-list {
    width: 100%;
    padding: 0;
  }
}

.author .author-list .author-list__item {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.author .author-list .author-list__item .list-check {
  position: absolute;
  left: -35px;
  top: 5px;
  width: 22px;
  height: 16px;
  background: url(../images/check.png) no-repeat;
  background-size: contain;
}

@media (max-width: 767px) {
  .author .author-list .author-list__item .list-check {
    display: none;
  }
}

.author .author-list .author-list__item p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.author .vektor-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}

@media (max-width: 767px) {
  .author .vektor-img {
    top: unset;
    bottom: 130px;
  }
}

.author .ellipse-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
}

@media (max-width: 767px) {
  .author .ellipse-img {
    top: unset;
    bottom: 100px;
  }
}

.author .author-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

@media (max-width: 767px) {
  .author .author-img {
    max-height: 400px;
    left: 0;
  }
}

.author .author__text h2 {
  font-style: italic;
  font-size: 24px;
  line-height: 120%;
}

.author .author__text .couch {
  margin-bottom: 30px;
  position: relative;
}

.author .author__text .couch__name {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 21px;
  line-height: 34px;
  padding-left: 25px;
  margin-bottom: 20px;
}

.author .author__text .couch__description {
  margin: 0;
}

.author .author__text .couch .list-marker {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: 0px;
  top: 12px;
  background: linear-gradient(45deg, #fccce1 0%, #ce6b97 100%);
}

.reviews {
  padding: 100px 0px;
  background: #d5d5d52e;
  position: relative;
}

.reviews .owl-reviews .owl-dots {
  display: flex;
  margin-top: -45px;
  transition: all ease 0.3s;
}

@media (max-width: 768px) {
  .reviews .owl-reviews .owl-dots {
    justify-content: center;
    margin-top: 19px;
  }
}

.reviews .owl-reviews .owl-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .reviews .owl-reviews .owl-nav {
    display: none;
  }
}

.reviews .owl-reviews .owl-prev {
  width: 60px;
  height: 60px;
  border: 2px solid #681f3a !important;
  border-radius: 50%;
  background: transparent;
  transition: all ease 0.3s;
}

.reviews .owl-reviews .owl-prev:hover {
  background: #f4cfd2;
}

.reviews .owl-reviews .owl-next {
  width: 60px;
  height: 60px;
  border: 2px solid #681f3a !important;
  background: #681f3a !important;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.reviews .owl-reviews .owl-next:hover {
  background: #852a4c !important;
}

.reviews h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 120%;
  font-weight: normal;
  margin-bottom: 60px;
}

.reviews .review-item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  min-height: 270px;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #ecb6af;
}

.reviews .review-item .review-name {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.reviews .review-item .review-name img {
  width: 50px;
  margin-right: 20px;
}

.reviews .review-item .review-content {
  font-size: 16px;
  line-height: 24px;
}

.about {
  padding: 100px 0px;
  background: #fff;
  position: relative;
}

.about h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 120%;
  font-weight: normal;
  margin-bottom: 60px;
}

.about p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

.about .lead-text {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
}

.about summary {
  display: block;
  margin-bottom: 25px;
  color: #a86d72;
}

.form {
  background: #f8f8f8;
  padding: 100px 0px;
}

.form .form-wrapper {
  border-radius: 15px;
  padding: 60px 100px;
  background: #fff;
  overflow: hidden;
  position: relative;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .form .form-wrapper {
    padding: 35px 15px;
  }
}

.form .form-wrapper .form-title {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 24px;
  line-height: 120%;
  display: block;
  margin-bottom: 60px;
}

.form .form-wrapper form input {
  border: none;
  border-bottom: 1px solid #cdb3aa;
  padding: 15px;
  width: 45%;
  margin-right: 30px;
  margin-bottom: 25px;
}

.form .form-wrapper form input.question {
  width: 94%;
  margin-bottom: 60px;
}

.form .form-wrapper form input:focus {
  outline: none;
}

.form .form-wrapper form .btn {
  width: 200px;
  font-size: 18px;
  padding: 22px 36px;
}

.form .vektor {
  position: absolute;
  right: -50px;
  bottom: -100px;
}

.form .ellipse {
  position: absolute;
  right: -50px;
  bottom: -150px;
}

.form .other-wrapper {
  display: flex;
  flex-direction: column;
}

.form .other-wrapper a {
  margin-bottom: 25px;
  color: #a86d72;
  text-decoration: none;
}

/*****************************************************************************/
.mobile-only {
  display: none;
}

@media (max-width: 767px) {
  .mobile-only {
    display: block;
    padding: 15px;
  }
}

.mobile-only .layout__item {
  height: 300px;
}

.mobile-buy {
  display: none;
  height: 540px;
  margin-bottom: 40px;
}

.mobile-buy div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #fff1ec;
  padding: 60px 15px;
}

.mobile-buy p {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
}

@media (max-width: 1199px) {
  .mobile-buy p {
    text-align: center;
  }
}

@media (max-width: 1199px) {
  .mobile-buy {
    display: block;
    padding: 15px;
    height: 440px;
  }
}

.owl-carousel-causes {
  display: none !important;
  padding: 0px 25px;
}

@media (max-width: 1199px) {
  .owl-carousel-causes {
    display: block !important;
    margin-bottom: 25px;
  }
  .owl-carousel-causes .owl-item img {
    width: auto;
  }
}
